{% extends "home/base.html" %}

{% block content %}
<div class="container mt-3">

    <h1 class="mb-4"><strong>Filtrar Autos</strong></h1>

    <!-- Distintas categorías para filtrar los modelos de autos -->
    <div class="card bg-secondary">
    
        <div class="row">

            <a href="{% url 'marca_list' %}" class="text-dark fs-3 mt-2 mb-3 ms-2">
                <strong>Marcas de autos</strong>
            </a>

            <a href="{% url 'combustible_list' %}" class="text-dark fs-3 mb-3 ms-2">
                <strong>Conbustibles de autos</strong>
            </a>

            <a href="{% url 'pais_list' %}" class="text-dark fs-3 mb-3 ms-2">
                <strong>Paises de Fabricación</strong>
            </a>

            <a href="{% url 'anio_list' %}" class="text-dark fs-3 mb-3 ms-2">
                <strong>Años de Fabricación</strong>
            </a>

        </div>

    </div>

</div>
{% endblock %}
